Repository konflux-ci/konflux-sast-tasks, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

Make it easier to re-run tests locally without creating the namespace
  .github/scripts/test_tekton_tasks.sh
Owners: none

Proceed only on "already exists" errors
  .github/scripts/test_tekton_tasks.sh
Owners: none

Add proxy support to buildah tasks
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

buildah*/0.6: manual preparation for new version
  hack/generate-buildah-remote.sh
  hack/missing-ta-tasks.sh
Owners: none

check-task-owners: check external-task/ as well
  hack/check-task-owners.sh
Owners: none

fix: resolve linting issues in sast-snyk-check tasks
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

add script generating all task READMEs
  hack/generate-all-readmes.sh
Owners: none

Add volumn mount to sast-snyk-check.
  task/sast-snyk-check-oci-ta/0.4/recipe.yaml
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

prevent build context path to escape source code directory
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Revert "fix: pin versions of k8s.io/api and k8s.io/apimachinery"
  task-generator/trusted-artifacts/go.mod
Owners: none

sast-coverity-check-oci-ta-v03: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
Owners: none

Update sast-unicode-check 0.3 MIGRATION.md
  task/sast-unicode-check-oci-ta/0.3/MIGRATION.md
  task/sast-unicode-check/0.3/MIGRATION.md
Owners: @konflux-ci/integration-service-maintainers, @sfowl

retry subscription-manager register in case of failure
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

fix: generate valid SARIF when snyk finds no supported files
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

task: prefetch-dependencies: Add a RPM fake repo compatibility hack
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

sast-snyk: don't fail task when KFP unreachable
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

apply generate-all-readmes script to tasks
  task/coverity-availability-check/0.2/README.md
  task/sast-coverity-check-oci-ta/0.3/README.md
  task/sast-coverity-check/0.3/README.md
  task/sast-shell-check-oci-ta/0.1/README.md
  task/sast-shell-check/0.1/README.md
  task/sast-snyk-check-oci-ta/0.4/README.md
  task/sast-snyk-check/0.4/README.md
  task/sast-unicode-check-oci-ta/0.2/README.md
  task/sast-unicode-check-oci-ta/0.3/README.md
  task/sast-unicode-check/0.2/README.md
  task/sast-unicode-check/0.3/README.md
Owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

sast-shell-check: set ShellCheck jobs based on cgroup v2 CPU limits
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/README.md
  task/sast-shell-check/0.1/sast-shell-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-coverity: bump image to 202503.3 release
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-coverity: bump image for 202503.2 release
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

buildah*/0.5: mechanical fixes for new version
  hack/generate-buildah-remote.sh
  hack/missing-ta-tasks.sh
Owners: none

Stop generating buildah-remote 0.4
  hack/generate-buildah-remote.sh
Owners: none

buildah*/0.5: archive
  hack/generate-buildah-remote.sh
Owners: none

sast-unicode: don't fail task when KFP unreachable
  task/sast-unicode-check-oci-ta/0.3/sast-unicode-check-oci-ta.yaml
  task/sast-unicode-check/0.3/sast-unicode-check.yaml
  task/sast-unicode-check/0.3/tests/test-sast-unicode-check-bad-kfp-repo.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

Accept test namespace as an argument
  .github/scripts/test_tekton_tasks.sh
Owners: none

task-generator: Rename {use, create}-cachi2 directive in recipe.go
  task-generator/trusted-artifacts/README.md
  task-generator/trusted-artifacts/golden/buildah/recipe.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/recipe.yaml
  task-generator/trusted-artifacts/golden/sast-snyk-check/recipe.yaml
  task-generator/trusted-artifacts/golden/source-build/recipe.yaml
  task-generator/trusted-artifacts/recipe.go
  task-generator/trusted-artifacts/ta.go
  task/sast-coverity-check-oci-ta/0.3/recipe.yaml
  task/sast-shell-check-oci-ta/0.1/recipe.yaml
  task/sast-snyk-check-oci-ta/0.4/recipe.yaml
  task/sast-unicode-check-oci-ta/0.2/recipe.yaml
  task/sast-unicode-check-oci-ta/0.3/recipe.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Provide templates for GitHub Issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

feat(ISV-5866): Use Mobster to generate oci image SBOMs
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

ICM location compatibility
  task/sast-coverity-check/0.3/README.md
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

task-generator: ta: Use a renamed CLI artifact for source_build.py
  task-generator/trusted-artifacts/golden/source-build/base.yaml
  task-generator/trusted-artifacts/golden/source-build/ta.yaml
Owners: none

Disable cluster local proxy support for remote builds
  task-generator/remote/main.go
Owners: none

task: sast-coverity-check: Revert some cachi2 -> prefetch renames
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

RHTAP-5753: remove rhtap pipelines and exclusive tasks
  hack/build-manifests.sh
  hack/generate-pipelines-readme.py
Owners: none

fix(KONFLUX-9326) add param to enable specific folders scanning
  task-generator/trusted-artifacts/golden/sast-snyk-check/base.yaml
  task-generator/trusted-artifacts/golden/sast-snyk-check/ta.yaml
  task/sast-snyk-check/0.4/README.md
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-shell-check: don't fail task when KFP unreachable
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-shell-check/0.1/tests/test-sast-shell-check-bad-kfp-repo.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

fix: pin versions of k8s.io/api and k8s.io/apimachinery
  task-generator/trusted-artifacts/go.mod
Owners: none

task-generator: Replace cachi2 image for hermeto && bump version
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

sast-shell-check: update konflux-test image
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-oci-ta-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
Owners: none

fix(KONFLUX-9618): Manually pass Multiarch arguments to `dockerfile-json`.
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

CODEOWNERS:

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl
