Repository konflux-ci/konflux-sast-tasks, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

cachi2 -> hermeto generic string replacements
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/recipe.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

task: prefetch-dependencies: Add a RPM fake repo compatibility hack
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

Make it easier to re-run tests locally without creating the namespace
  .github/scripts/test_tekton_tasks.sh
Owners: none

Proceed only on "already exists" errors
  .github/scripts/test_tekton_tasks.sh
Owners: none

Accept test namespace as an argument
  .github/scripts/test_tekton_tasks.sh
Owners: none

Disable cluster local proxy support for remote builds
  task-generator/remote/main.go
Owners: none

add script generating all task READMEs
  hack/generate-all-readmes.sh
Owners: none

modify generate-readme script
  hack/generate-build-team-readme.sh
  hack/generate-readme.sh
  hack/generate-ta-tasks.sh
Owners: none

Add volumn mount to sast-snyk-check.
  task/sast-snyk-check-oci-ta/0.4/recipe.yaml
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

check-task-owners: check external-task/ as well
  hack/check-task-owners.sh
Owners: none

buildah*/0.5: mechanical fixes for new version
  hack/generate-buildah-remote.sh
  hack/missing-ta-tasks.sh
Owners: none

Stop generating buildah-remote 0.4
  hack/generate-buildah-remote.sh
Owners: none

fix: resolve linting issues in sast-snyk-check tasks
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

fix: generate valid SARIF when snyk finds no supported files
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

buildah*/0.6: manual preparation for new version
  hack/generate-buildah-remote.sh
  hack/missing-ta-tasks.sh
Owners: none

Provide templates for GitHub Issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

buildah*/0.5: archive
  hack/generate-buildah-remote.sh
Owners: none

fix: pin versions of k8s.io/api and k8s.io/apimachinery
  task-generator/trusted-artifacts/go.mod
Owners: none

sast-shell-check: don't fail task when KFP unreachable
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-shell-check/0.1/tests/test-sast-shell-check-bad-kfp-repo.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-unicode: don't fail task when KFP unreachable
  task/sast-unicode-check-oci-ta/0.3/sast-unicode-check-oci-ta.yaml
  task/sast-unicode-check/0.3/sast-unicode-check.yaml
  task/sast-unicode-check/0.3/tests/test-sast-unicode-check-bad-kfp-repo.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

RHTAP-5753: remove rhtap pipelines and exclusive tasks
  hack/build-manifests.sh
  hack/generate-pipelines-readme.py
Owners: none

Revert "fix: pin versions of k8s.io/api and k8s.io/apimachinery"
  task-generator/trusted-artifacts/go.mod
Owners: none

ci: copy check-ta.yaml from build-definitions repo
  .github/workflows/check-ta.yaml
  task/sast-coverity-check-oci-ta/0.3/README.md
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-shell-check-oci-ta/0.1/README.md
  task/sast-snyk-check-oci-ta/0.4/README.md
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-unicode-check-oci-ta/0.2/README.md
  task/sast-unicode-check-oci-ta/0.3/README.md
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Remove pipeline check since no pipelines are present
  .github/scripts/check_task_yamls.sh
  .github/workflows/check-task-yamls.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-shell-check-v01 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-shell-check-v01-pull-request.yaml
  .tekton/sast-shell-check-v01-push.yaml
Owners: none

sast-unicode-check-oci-ta-v03: exclude recipe.yaml file from path-context
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

sast-snyk-check-oci-ta-v04: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-snyk-check-oci-ta-v04-pull-request.yaml
  .tekton/sast-snyk-check-oci-ta-v04-push.yaml
Owners: none

sast-coverity-check-v03: update task-tkn-bundle-oci-ta:0.2 shasum
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

docs(STONEINTG-1304): add README.md with details of the repo
  README.md
Owners: none

sast-unicode-check-oci-ta-v03: update task-tkn-bundle-oci-ta:0.2 shasum
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-snyk-check-v04 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-snyk-check-v04-pull-request.yaml
  .tekton/sast-snyk-check-v04-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-snyk-check-oci-ta-v04 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-snyk-check-oci-ta-v04-pull-request.yaml
  .tekton/sast-snyk-check-oci-ta-v04-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-unicode-check-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-unicode-check-v03-pull-request.yaml
  .tekton/sast-unicode-check-v03-push.yaml
Owners: none

sast-shell-check-oci-ta-v01: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-shell-check-oci-ta-v01-pull-request.yaml
  .tekton/sast-shell-check-oci-ta-v01-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-shell-check-oci-ta-v01 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-shell-check-oci-ta-v01-pull-request.yaml
  .tekton/sast-shell-check-oci-ta-v01-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-unicode-check-oci-ta-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

Mitigate quay.io instabilities by adding retries to commands using registry
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Mitigate quay.io instabilities by adding retries to commands using registry
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
  task/sast-unicode-check-oci-ta/0.2/sast-unicode-check-oci-ta.yaml
  task/sast-unicode-check/0.2/sast-unicode-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

task: cachi2 -> hermeto CLI command replacement
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

CODEOWNERS:

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl
