Repository konflux-ci/konflux-sast-tasks, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

CODEOWNERS:

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-oci-ta-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-shell-check-v01 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-shell-check-v01-pull-request.yaml
  .tekton/sast-shell-check-v01-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-snyk-check-oci-ta-v04 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-snyk-check-oci-ta-v04-pull-request.yaml
  .tekton/sast-snyk-check-oci-ta-v04-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-unicode-check-oci-ta-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-snyk-check-v04 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-snyk-check-v04-pull-request.yaml
  .tekton/sast-snyk-check-v04-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-unicode-check-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-unicode-check-v03-pull-request.yaml
  .tekton/sast-unicode-check-v03-push.yaml
Owners: none

Remove pipeline check since no pipelines are present
  .github/scripts/check_task_yamls.sh
  .github/workflows/check-task-yamls.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-shell-check-oci-ta-v01 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-shell-check-oci-ta-v01-pull-request.yaml
  .tekton/sast-shell-check-oci-ta-v01-push.yaml
Owners: none

test-tasks-in-ci
  task/coverity-availability-check/0.2/coverity-availability-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

chore(deps): update konflux references
  .tekton/coverity-availability-check-v02-pull-request.yaml
  .tekton/coverity-availability-check-v02-push.yaml
  .tekton/sast-shell-check-v01-pull-request.yaml
  .tekton/sast-shell-check-v01-push.yaml
  .tekton/sast-snyk-check-v04-pull-request.yaml
  .tekton/sast-snyk-check-v04-push.yaml
  .tekton/sast-unicode-check-v03-pull-request.yaml
  .tekton/sast-unicode-check-v03-push.yaml
Owners: none

docs(STONEINTG-1304): add README.md with details of the repo
  README.md
Owners: none

fix: limit push builds to task/ directory changes
  .tekton/coverity-availability-check-v02-push.yaml
  .tekton/sast-shell-check-v01-push.yaml
  .tekton/sast-snyk-check-v04-push.yaml
  .tekton/sast-unicode-check-v03-push.yaml
Owners: none

fix(KONFLUX-9326) add param to enable specific folders scanning
  task-generator/trusted-artifacts/golden/sast-snyk-check/base.yaml
  task-generator/trusted-artifacts/golden/sast-snyk-check/ta.yaml
  task/sast-snyk-check/0.4/README.md
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-unicode-check-oci-ta-v03: update task-tkn-bundle-oci-ta:0.2 shasum
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

sast-unicode-check-oci-ta-v03: exclude recipe.yaml file from path-context
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
Owners: none

sast-snyk-check-oci-ta-v04: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-snyk-check-oci-ta-v04-pull-request.yaml
  .tekton/sast-snyk-check-oci-ta-v04-push.yaml
Owners: none

sast-shell-check-oci-ta-v01: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-shell-check-oci-ta-v01-pull-request.yaml
  .tekton/sast-shell-check-oci-ta-v01-push.yaml
Owners: none

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

sast-coverity-check-v03: update task-tkn-bundle-oci-ta:0.2 shasum
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

retry subscription-manager register in case of failure
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-coverity: bump image for 202503.2 release
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

ICM location compatibility
  task/sast-coverity-check/0.3/README.md
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

feat(ISV-5866): Use Mobster to generate oci image SBOMs
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-coverity: pin base buildah task dep to specific commit
  task/sast-coverity-check/0.3/kustomization.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

fix(KONFLUX-9618): Manually pass Multiarch arguments to `dockerfile-json`.
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Mitigate quay.io instabilities by adding retries to commands using registry
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

prevent build context path to escape source code directory
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Add proxy support to buildah tasks
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-coverity: bump image to 202503.3 release
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

Red Hat Konflux kflux-prd-rh02 update sast-coverity-check-oci-ta-v03 Signed-off-by: red-hat-konflux-kflux-prd-rh02 <konflux@no-reply.konflux-ci.dev>
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
Owners: none

sast-coverity-check-oci-ta-v03: update task-tkn-bundle-oci-ta:0.2 shasum and exclude recipe.yaml
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
Owners: none

sast-shell-check: update konflux-test image
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-shell-check: set ShellCheck jobs based on cgroup v2 CPU limits
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/README.md
  task/sast-shell-check/0.1/sast-shell-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

Update sast-unicode-check 0.3 MIGRATION.md
  task/sast-unicode-check-oci-ta/0.3/MIGRATION.md
  task/sast-unicode-check/0.3/MIGRATION.md
Owners: @konflux-ci/integration-service-maintainers, @sfowl

task-generator: Replace cachi2 image for hermeto && bump version
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

task: cachi2 -> hermeto CLI command replacement
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
Owners: none

task: sast-coverity-check: Revert some cachi2 -> prefetch renames
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

task-generator: ta: Use a renamed CLI artifact for source_build.py
  task-generator/trusted-artifacts/golden/source-build/base.yaml
  task-generator/trusted-artifacts/golden/source-build/ta.yaml
Owners: none

task-generator: Rename {use, create}-cachi2 directive in recipe.go
  task-generator/trusted-artifacts/README.md
  task-generator/trusted-artifacts/golden/buildah/recipe.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/recipe.yaml
  task-generator/trusted-artifacts/golden/sast-snyk-check/recipe.yaml
  task-generator/trusted-artifacts/golden/source-build/recipe.yaml
  task-generator/trusted-artifacts/recipe.go
  task-generator/trusted-artifacts/ta.go
  task/sast-coverity-check-oci-ta/0.3/recipe.yaml
  task/sast-shell-check-oci-ta/0.1/recipe.yaml
  task/sast-snyk-check-oci-ta/0.4/recipe.yaml
  task/sast-unicode-check-oci-ta/0.2/recipe.yaml
  task/sast-unicode-check-oci-ta/0.3/recipe.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl
