Repository konflux-ci/konflux-sast-tasks, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

sast-coverity: pin base buildah task dep to specific commit
  task/sast-coverity-check/0.3/kustomization.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

cachi2 -> hermeto generic string replacements
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/recipe.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

modify generate-readme script
  hack/generate-build-team-readme.sh
  hack/generate-readme.sh
  hack/generate-ta-tasks.sh
Owners: none

ci: copy check-ta.yaml from build-definitions repo
  .github/workflows/check-ta.yaml
  task/sast-coverity-check-oci-ta/0.3/README.md
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-snyk-check-oci-ta/0.4/README.md
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-snyk: re-add missing whitespace
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sync with build-definitions
  task/coverity-availability-check/0.2/README.md
  task/sast-coverity-check/0.3/README.md
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/README.md
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/README.md
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
  task/sast-unicode-check-oci-ta/0.2/sast-unicode-check-oci-ta.yaml
  task/sast-unicode-check/0.2/README.md
  task/sast-unicode-check/0.2/sast-unicode-check.yaml
  task/sast-unicode-check/0.3/README.md
Owners: @konflux-ci/integration-service-maintainers, @sfowl, @konflux-ci/build-maintainers

Add script to generate external task files with container digests
  hack/generate-external-tasks.sh
Owners: none

test(sast-snyk): add new test with snyk secret
  task/sast-snyk-check/0.4/tests/pre-apply-task-hook.sh
  task/sast-snyk-check/0.4/tests/test-sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

test(sast-snyk): add new test with snyk secret
  task/sast-snyk-check/0.4/tests/pre-apply-task-hook.sh
  task/sast-snyk-check/0.4/tests/test-sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @sfowl

sast-coverity: use tag+digest to reference coverity image
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @sfowl

sast-covertiy: update konflux refs
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
Owners: none

ci: update konflux references
  .tekton/coverity-availability-check-v02-pull-request.yaml
  .tekton/coverity-availability-check-v02-push.yaml
  .tekton/sast-coverity-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-coverity-check-oci-ta-v03-push.yaml
  .tekton/sast-coverity-check-v03-pull-request.yaml
  .tekton/sast-coverity-check-v03-push.yaml
  .tekton/sast-shell-check-oci-ta-v01-pull-request.yaml
  .tekton/sast-shell-check-oci-ta-v01-push.yaml
  .tekton/sast-shell-check-v01-pull-request.yaml
  .tekton/sast-shell-check-v01-push.yaml
  .tekton/sast-snyk-check-oci-ta-v04-pull-request.yaml
  .tekton/sast-snyk-check-oci-ta-v04-push.yaml
  .tekton/sast-snyk-check-v04-pull-request.yaml
  .tekton/sast-snyk-check-v04-push.yaml
  .tekton/sast-unicode-check-oci-ta-v03-pull-request.yaml
  .tekton/sast-unicode-check-oci-ta-v03-push.yaml
  .tekton/sast-unicode-check-v03-pull-request.yaml
  .tekton/sast-unicode-check-v03-push.yaml
Owners: none

CODEOWNERS:

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl
